@import "compass/css3";

//modify these params to change calendar appearance

$hour-legend-color: #ccc;
$hour-legend-font-size:12px;
$hour-legend-max-width:46px;

$events-padding:10px;

$event-font-size:12px;
$event-text-color: #379d0f;
$event-text-indent: 20px;
$event-bg:rgba(216, 253, 179, 0.825);
$event-border-width:4px;
$event-border-color:$event-text-color;

//calendar styles

#calendar-container {
	width:100%;
	height:100%;
	padding:0 10px;
	font-family:sans-serif;
	margin:0 auto;
	overflow:hidden;

	//NOTE: inner-container knows nothing about its parent's height/width/padding but will also never overflow
	.inner-container {
		position:relative;
		box-sizing:border-box;
		font-size:$hour-legend-font-size;
		height:calc(100% - #{$hour-legend-font-size});
		width:calc(100% - #{$hour-legend-max-width});
		margin:$hour-legend-font-size / 2 0 $hour-legend-font-size / 2 $hour-legend-max-width;
		border:1px solid $hour-legend-color;
		border-width:0 1px;

		.hour {
			position:absolute;
			width:calc(100% + 2px);
			border-top:1px solid $hour-legend-color;
			margin-left:-1px;

			&:before {
				content: attr(data-time);
				position:absolute;
				color:$hour-legend-color;
				margin-left:-10px;
				@include translate(-100%, -50%);
			}
		}

		.event-container {
			position:absolute;
			top:0;
			bottom:0;
			left:$events-padding;
			right:$events-padding;
		}
	}
}

.event {
	box-sizing:border-box;
	position:absolute;
	background: $event-bg;
	color:$event-text-color;
	border-left:$event-border-width solid $event-text-color;
	text-indent:$event-text-indent;
	font-size:$event-font-size;

	.content {
		//vertical center
		position:relative;
		top:calc(50% + 1px);
		@include translateY(-50%);

		.agenda {
			padding:0 0 3px;
			font-weight: bold;
			//seperate optional title/location
			.location:nth-of-type(2):before {
				content: '/';
				padding:0 5px;
			}
		}

		//dash between start and end time
		.time .end:before {
			content: '';
			display:inline-block;
			vertical-align:middle;
			height:1px;
			width:9px;
			margin:-1px 5px 0;
			background:currentColor;
		}

		//elipsize any horizontal overflow
		.agenda, .time {
			display:block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}